

/* FOOTER */


footer {
    background: #2e2e38;
   }
   
   footer .container {
       padding: 30px 20px;
   }
   
   footer h4 {
       font-size: 20px;
   }
   
   footer p {
       font-family: 'HelveticaNeue-Thin';
   }
   
   .ul-posts li {
       font-size: 15px;
       line-height: 20px;
       margin-bottom: 5px;
       padding-left: 70px;
   }
   
   .col-4-footer {
       width: 33.33%;
       float: left;
       margin-top: 77px;
       color: white;
       padding: 30px;
   }
   
   .ul-posts,
   .ul-tweets {
       margin-top: 25px;
        font-family: 'HelveticaNeue-Thin';
   }
   
   .reddish-bg {
       background: url('../../img/rectangle.png') no-repeat;
   }
   
   
   .block {
       display: block;
   }
   
   
   
   .p-about {
       font-size: 15px;
       font-style: italic;
       margin-top: 25px;
   }
   
   
   .ul-tweets li {
       list-style: none;
       margin-bottom: 25px;
   }
   
   .smallText {
       font-size: 11px;
       margin-top: 5px;
   }

   @media only screen and (max-width: 768px) {
    .col-4-footer {
        width: 100%;
        float: none;
        margin-top: 0px;
        font-weight: 400;
    }
    
    .footer-logo {
        margin-bottom: 35px;
    }
    
}